@use "sass:math"
@use "../../lib/bulma/sass/utilities/derived-variables.sass" as bulma_vars
@use "bulma-nouislider.config.sass" as config

$orientation: horizontal vertical

.#{config.$slider-styled-class} 
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    margin: 1rem 0
    background: 0 0
    touch-action: none

    cursor: pointer
    //*animate: .2s;*/
    box-shadow: 0 0 0 #7a7a7a
    background: config.$slider-track-background
    border-radius: config.$slider-radius
    border: 0 solid #7a7a7a

    .#{config.$noUi-css-prefix}-handle::before, .#{config.$noUi-css-prefix}-handle::after
        display: none

    &:focus
        outline: 0
    &.is-fullwidth
        display: block
        width: 100% 
    &.is-fullheight
        display: block
        width: 100%
    &.is-inverted
        background: config.$slider-track-background-invert
        .#{config.$noUi-css-prefix}-handle
            background: config.$slider-thumb-background-invert

    .#{config.$noUi-css-prefix}-handle 
        box-shadow: none
        border: 1px solid #b5b5b5
        border-radius: config.$slider-thumb-radius
        background: config.$slider-thumb-background
        cursor: pointer
        &:active
            transform: scale(1.25)
    &.is-circle .#{config.$noUi-css-prefix}-handle
        border-radius: config.$slider-radius-rounded
    

    @each $orient in $orientation
        &.#{config.$noUi-css-prefix}-#{$orient}
            @if $orient == horizontal
                height: 0.5rem
            @else if $orient == vertical
                width: 0.5rem

            .#{config.$noUi-css-prefix}-handle
                @if $orient == horizontal
                    height: 1.2rem //* 1rem + 0.2rem*/
                    width: 1.2rem
                    //*top: -0.38rem;*/
                    top: calc(-0.5rem / 1.3) //* negative slider height divided by 1.3 (times 0.77) - rough */
                    right: -0.6rem //* half the width */
                @else if $orient == vertical
                    width: 1.2rem //* 1rem + 0.2rem*/
                    height: 1.2rem
                    //*right: -0.4rem;*/
                    right: calc(-0.5rem / 1.4)
                    bottom: -0.6rem //* half the height */
    // Colors
    @each $name, $pair in bulma_vars.$colors
        $color: nth($pair, 1)
        $color-invert: nth($pair, 2)

        // Slider Range Colors
        &.is-#{$name}
            background: $color !important
            &.is-inverted
                background: $color-invert !important

        // All connect color defined by slider
        &.is-#{$name}-connect
            .#{config.$noUi-css-prefix}-connect
                background: $color !important
                //color: $color-invert   
            &.is-inverted
                .#{config.$noUi-css-prefix}-connect
                    background: $color-invert !important
                    ////color: $color
            
///
/// Styled Disable
///

//*[disabled].slider-styled .noUi-connect {
//    background: #B8B8B8;

[disabled]
    &.#{config.$slider-styled-class}
        //background: #EDEDED
        opacity: 0.5
        //.#{config.$noUi-css-prefix}-connect
            //background: #80E8D9
            //opacity: 0.5

    &.#{config.$noUi-css-prefix}-target.#{config.$slider-styled-class},
    &.#{config.$noUi-css-prefix}-handle,
    .#{config.$noUi-css-prefix}-handle 
        cursor: not-allowed

    &.#{config.$noUi-css-prefix}-handle:active,
    .#{config.$noUi-css-prefix}-handle:active
        transform: none

///
/// Slider handles with no overlap
///
//*#slider-no-overlap .noUi-handle-lower*/
//*#slider-no-overlap .noUi-handle-upper*/
.#{config.$noUi-css-prefix}-target.has-no-overlap
    @each $orient in $orientation
        &.#{config.$noUi-css-prefix}-#{$orient}
            .#{config.$noUi-css-prefix}-handle-lower
                @if $orient == horizontal
                    right: 0
                @else if $orient == vertical
            .#{config.$noUi-css-prefix}-handle-upper
                @if $orient == horizontal
                    right: -34px
                @else if $orient == vertical